:root {
  font-size: 62.5%;
  --select-border: #777;
  --select-arrow: var(--select-border);
  --cell-size: 4.5rem;
}

.theme-light {
  --background-color: #eee;
  --primary-text-color: #000;
  --cell-value-background: #fcd34d;
  --cell-value-background-hover: #f59e0b;
  --td-text-color: #000;
  --td-hover-color: #ddd;
  --btn-color: #000;
  --btn-background: #7dd3fc;
  --domino-background: #fb7185;
  --domino-background-hover: #f43f5e;
  --select-focus: blue;
  --muted-input-background-color: #bbb;
  --disabled-btn-background-color: #ccc;
  --modal-info-background-color: #e4e4e7;
  --modal-info-heading-color: #000;
}

.theme-dark {
  --background-color: #334155;
  --primary-text-color: #eee;
  --cell-value-background: #0891b2;
  --cell-value-background-hover: #155e75;
  --td-text-color: #cbd5e1;
  --td-hover-color: #64748b;
  --btn-color: #cbd5e1;
  --btn-background: #0369a1;
  --domino-background: #881337;
  --domino-background-hover: #be123c;
  --select-focus: #4b5563;
  --muted-input-background-color: #bbb;
  --disabled-btn-background-color: #333;
  --modal-info-background-color: #ecfeff;
  --modal-info-heading-color: #000;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  padding: 2rem;
  min-height: 100vh;
  color: var(--primary-text-color);
}

.heading-primary {
  text-transform: uppercase;
  font-size: 4rem;
  text-align: center;
  grid-column: 1 / 3;
  align-self: center;
}

.message {
  color: var(--primary-text-color);
  font-weight: 400;
  position: absolute;
  top: 7rem;
  left: 0;
  right: 0;
  text-align: center;
}

.muted {
  background-color: var(--muted-input-background-color);
}

.content {
  position: relative;
  margin: 0 auto;
  max-width: 80rem;
  display: grid;
  grid-template-columns: 50rem 25rem;
  grid-template-rows: 8rem 47rem;
}

.menu-section {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

table {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  margin: 1rem auto 0 auto;
  border-collapse: collapse;
  height: calc((var(--cell-size) + 1px) * 9);
  width: calc((var(--cell-size) + 1px) * 9);
  align-self: center;
}

td {
  border: 1px solid var(--primary-text-color);
  width: var(--cell-size);
  height: var(--cell-size);
  text-align: center;
  font-size: 1.8rem;
  transition: all 0.2s;
  color: var(--td-text-color);
}

td:hover {
  background-color: var(--td-hover-color);
  cursor: pointer;
}

td input {
  font: inherit;
  font-weight: 600;
  background-color: var(--background-color);
  appearance: none;
  border: none;
  width: var(--cell-size);
  height: var(--cell-size);
  text-align: center;
}

td input:disabled {
  color: inherit;
}

td input:focus {
  outline: none;
}

.number {
  background-color: var(--cell-value-background);
  transition: all 0.2s;
}

.number:hover {
  background-color: var(--cell-value-background-hover);
}

.domino {
  background-color: var(--domino-background);
  transition: all 0.2s;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.domino:hover {
  background-color: var(--domino-background-hover);
}

#clear-board {
  position: absolute;
  top: 6rem;
  left: 4rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  width: 15rem;
  padding: 0.9rem 2rem;
  font-size: 1.1rem;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

#clear-board img {
  width: 1.8rem;
  height: 1.8rem;
}

#clear-board p {
  margin-top: 0.2rem;
}

.btn {
  color: var(--btn-color);
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.2rem 3.6rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.4rem;
  border: none;
  cursor: pointer;
  background-color: var(--btn-background);
  vertical-align: bottom;
}

.btn-group {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: space-between;
  max-width: 40rem;
  margin: 0 auto;
}

.add-board {
  align-self: center;
  justify-content: flex-start;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.btn-group--wide {
  max-width: 55rem;
}

.btn--alternative {
  background-color: transparent;
  border: 3px solid var(--btn-background);
}

.btn--red {
  background-color: var(--domino-background);
  /* width: 80%;
  margin: 0 auto; */
}

.btn--red-alternate {
  background-color: transparent;
  border: 3px solid var(--domino-background);
}

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--disabled {
  background-color: var(--disabled-btn-background-color);
}

.btn--disabled:hover {
  transform: translateY(0);
  box-shadow: 0 0rem 0rem rgba(0, 0, 0, 0.2);
}

.btn--disabled:active {
  transform: translateY(0);
  box-shadow: 0 0rem 0rem rgba(0, 0, 0, 0.2);
}

.margin-top {
  margin-top: 3rem;
}

.hide {
  display: none !important;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal {
  z-index: 11;
  display: grid;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  place-content: center;
}

.modal__content {
  background: rgb(255, 228, 230);
  background: linear-gradient(
    135deg,
    rgba(255, 228, 230, 1) 10%,
    rgba(255, 228, 230, 1) 77%
  );
  border-radius: 1.5rem;
  width: 48rem;
  height: 48rem;
  padding: 2rem;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.modal__info .modal__content {
  background: var(--modal-info-background-color);
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__header h2 {
  font-size: 2.9rem;
  color: #4c0519;
  text-transform: uppercase;
}

.modal__info .modal__header h2 {
  color: var(--modal-info-heading-color);
}

.modal__header svg {
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  fill: #fb7185;
  transition: all 0.2s;
}

.modal__header svg:hover {
  fill: #f43f5e;
}

.modal__main {
  min-height: 60%;
}

.modal__main p {
  color: #000;
  margin: 1.5rem 0;
}

.ThemeToggle {
  position: absolute;
  top: 2.7rem;
  right: 11.5rem;
  appearance: none;
  width: 62px;
  height: 32px;
  display: inline-block;
  border-radius: 50px;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  background: #888;
  transition: background-color ease 0.3s;
}

.ThemeToggle::before {
  content: url('https://shivanarrthine.com/public/images/icons/moon.svg');
  display: block;
  position: absolute;
  z-index: 2;
  width: 24px;
  height: 24px;
  background: #333;
  left: 4px;
  top: 4px;
  border-radius: 50%;
  text-indent: 4px;
  line-height: 32px;
  word-spacing: 37px;
  color: #888;
  white-space: nowrap;
  transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}

.ThemeToggle:checked {
  background-color: #ddd;
  border-color: #7dd3fc;
}

.ThemeToggle:checked:before {
  left: 32px;
  content: url('https://shivanarrthine.com/public/images/icons/sun.svg');
  background: #fff;
}

.board-select label {
  font-size: 1.6rem;
  font-weight: 500;
}

.board-select select {
  appearance: none;
  color: var(--primary-text-color);
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  z-index: 1;

  /* Remove focus outline, will add on alternate element */
  outline: none;
}

.board-select select::-ms-expand {
  display: none;
}

.select {
  display: grid;
  grid-template-areas: 'select';
  align-items: center;
  position: relative;

  min-width: 15ch;
  max-width: 30ch;

  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;

  font-size: 1.4rem;
  cursor: pointer;
  line-height: 1.1;

  background-color: var(--background-color);
  background-image: linear-gradient(
    to top,
    var(--background-color),
    var(--background-color) 33%
  );
  color: var(--primary-text-color);
}

.board-select {
  width: 100%;
  margin: 3rem auto;
}

select,
.select::after {
  grid-area: select;
}

.select:not(.select--multiple)::after {
  content: '';
  justify-self: end;
  width: 0.8em;
  height: 0.5em;
  background-color: var(--select-arrow);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid var(--select-focus);
  border-radius: inherit;
}

select[multiple] {
  padding-right: 0;
  height: 6rem;
}

select:not(:disabled) option {
  border-radius: 12px;
  transition: 120ms all ease-in;
}

select:checked {
  background: linear-gradient(hsl(242, 61%, 76%), hsl(242, 61%, 71%));
  padding-left: 0.5em;
  color: black !important;
}

select option {
  white-space: normal;
  outline-color: var(--select-focus);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
